<!doctype html>
<html lang="en">

<head>
    <title>Siddhartha Bose</title>
    <meta name="description" content="" />

    {{>head}}
</head>

<body>
    <div class="blocks-page">
        <section class="smart-scroll">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand heading-black" href="/" style="height:10vh">
                        <img class="img-logo" src="{{{page.header.img_logo_nav}}}=s200" />
                    </a>
                    <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                        data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse mt-0" id="navbarCollapse">
                        <ul class="navbar-nav ml-auto mobile-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/background">{{page.header.header_nav.nav0.text}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/#projects">{{page.header.header_nav.nav1.text}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/#skills">{{page.header.header_nav.nav2.text}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/blog">{{page.header.header_nav.nav3.text}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/#contact_form">{{page.header.header_nav.nav4.text}}</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>

        <div class=" py-3" style="height:50vh">

            <div class="container">
                <div class="row justify-content-center header-row">
                    <div class="col-12 col-md-8 col-lg-7 text-center text-black">
                        <img class="mt-4" style="width:300px; border-radius:50%"
                            src="{{page.background-images.sweater}}=s500-c" />
                    </div>
                </div>
            </div>
        </div>
        <section class="py-md-5 block feature-block">
            <div class="container-fluid">
                <div class="row justify-content-center text-center block-header">
                    <div class="col-12 col-md-9 col-lg-8">
                        <h2 class="display-4 mt-2">{{page.background-information.header}}</h2>
                        <hr>
                        <p class="lead">{{page.background-information.subheader}}</p>
                        <p class="lead">{{page.background-information.subsubheader}}</p>
                    </div>
                </div>
                <ul class="row feature-list gx-5">
                    <li class="col-10 col-md-4">
                        <div class="media align-items-center mb-5">
                            <a href="#">
                                <img alt="Image" class="feature-img mr-4" style="width:200px; border-radius:50%" src="{{page.background-images.graduation}}=s200-c" />
                            </a>
                            <div class="media-body">
                                <h4>{{page.background-information.items.education}}</h4>
                                <p class="mt-1">
                                    {{page.background-information.itemInformation.education}}
                                </p>
                            </div>
                        </div>
                    </li>

                    <!--end of col-->
                    <li class="col-12 col-md-4">
                        <div class="media align-items-center mb-5">
                            <a href="#">
                                <img alt="Image" class="feature-img mr-4" style="width:200px; border-radius:50%" src="{{page.background-images.armylife}}=s1024-c" />
                            </a>
                            <div class="media-body">
                                <h4>{{page.background-information.items.armylife}}</h4>
                                <p class="mt-1">
                                    {{page.background-information.itemInformation.armylife}}
                                </p>
                            </div>
                        </div>
                    </li>

                    <!--end of col-->
                    <li class="col-12 col-md-4">
                        <div class="media align-items-center mb-5">
                            <a href="#">
                                <img alt="Image" class="feature-img mr-4" style="width:200px; border-radius:50%" src="{{page.background-images.investing}}=s200-c" />
                            </a>
                            <div class="media-body">
                                <h4>{{page.background-information.items.investing}}</h4>
                                <p class="mt-1">
                                    {{page.background-information.itemInformation.investing}}
                                </p>
                            </div>
                        </div>
                    </li>

                    <li class="col-12 col-md-4">
                        <div class="media align-items-center mb-5">
                            <a href="#">
                                <img alt="Image" class="feature-img mr-4" style="width:200px; border-radius:50%" src="{{page.background-images.burger}}=s200-c" />
                            </a>
                            <div class="media-body">
                                <h4>{{page.background-information.items.cooking}}</h4>
                                <p class="mt-1">
                                    {{page.background-information.itemInformation.cooking}}
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-12 col-md-4">
                        <div class="media align-items-center mb-5">
                            <a href="#">
                                <img alt="Image" class="feature-img mr-4" style="width:200px; border-radius:50%" src="{{page.background-images.gym}}=s200-c" />
                            </a>
                            <div class="media-body">
                                <h4>{{page.background-information.items.powerlifting}}</h4>
                                <p class="mt-1">
                                    {{page.background-information.itemInformation.powerlifting}}
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-12 col-md-4">
                        <div class="media align-items-center mb-5">
                            <a href="#">
                                <img alt="Image" class="feature-img mr-4" style="width:200px; border-radius:50%" src="{{page.background-images.camera}}=s200-c" />
                            </a>
                            <div class="media-body">
                                <h4>{{page.background-information.items.photography}}</h4>
                                <p class="mt-1">
                                    {{page.background-information.itemInformation.photography}}
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </section>

        <footer style="background:url('https://lh3.googleusercontent.com/1U9qW1j25Tzt--WPtw1u-1hMopjAN3xYVu1gTbTPZ5-1GvcPWxN67y3CHR1336jkMgw_JCTLzyfTHMZpJZ5wEXoICIAd0p7Dur8_tg=s2048');background-size:cover;background-position:center;height:50vh">
            <div class="container pt-5 pb-5 text-black">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="/">
                            <p><img class="img-logo-footer" style="width:200px;" src="{{{page.header.img_logo_footer}}}=s440"/></p>
                        </a>

                        <ul class="list-inline social social-white-alt social-rounded social-sm mb-0">
                            <li class="list-inline-item"><a href="{{{page.header.social.facebook.link}}}" target="_blank"><i
                                        class="fa fa-facebook" style="color:rgb(77, 73, 73)"></i></a></li>

                            <li class="list-inline-item"><a href="{{{page.header.social.linkedin.link}}}" target="_blank"><i
                                        class="fa fa-linkedin" style="color:rgb(77, 73, 73)"></i></a></li>

                            <li class="list-inline-item"><a href="{{{page.header.social.instagram.link}}}" target="_blank"><i
                                        class="fa fa-instagram" style="color:rgb(77, 73, 73)"></i></a></li>

                            <li class="list-inline-item"><a href="{{{page.header.social.github.link}}}" target="_blank"><i
                                        class="fa fa-github" style="color:rgb(77, 73, 73)"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    {{>scripts}}

    <script src="{{{cdn}}}/js/contact.js"></script>
</body>

</html>