<footer style="background:url('https://lh3.googleusercontent.com/1U9qW1j25Tzt--WPtw1u-1hMopjAN3xYVu1gTbTPZ5-1GvcPWxN67y3CHR1336jkMgw_JCTLzyfTHMZpJZ5wEXoICIAd0p7Dur8_tg=s2048');background-size:cover;background-position:center;height:50vh">
        <div class="gradient-div py-3" style="height:50vh">
            <div class="container pt-5 pb-5 text-black">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p><img class="img-logo-footer" style="width:200px;" src="{{{global.img_logo_footer}}}=s440"/></p>
        
                        <ul class="list-inline social social-white-alt social-rounded social-sm mb-0">
                            {{#global.social.facebook.show_or_hide}}
                            <li class="list-inline-item"><a href="{{{global.social.facebook.link}}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            {{/global.social.facebook.show_or_hide}}
        
                            {{#global.social.linkedin.show_or_hide}}
                            <li class="list-inline-item"><a href="{{{global.social.linkedin.link}}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            {{/global.social.linkedin.show_or_hide}}
        
                            {{#global.social.instagram.show_or_hide}}
                            <li class="list-inline-item"><a href="{{{global.social.instagram.link}}}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            {{/global.social.instagram.show_or_hide}}

                            {{#global.social.github.show_or_hide}}
                            <li class="list-inline-item"><a href="{{{global.social.github.link}}}" target="_blank"><i class="fa fa-github"></i></a></li>
                            {{/global.social.github.show_or_hide}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>    
</footer>
